


body {
    width: 100vw;
    height: 100vh;
    background-image: rgb(255, 255, 255);
    background-size: cover;

}

.container {
    width: max;
    height: 800px;
    background-image: url('image/headphones_hero_1.jpg');




}


/* LOGO */
.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 15px;

}

.menu li:hover {
    background-color: #cf40d1;
    border-radius: 5px;
    transition: 0.3s ease;
    color: pink;
}

.menu li {
    padding: 5px 14px;

}

/* DROPDOWN MENU */
.services {
    position: relative;
}

.dropdown {
    background-color: rgb(1, 139, 139);
    padding: 1em 0;
    position: absolute;
    /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
}

.dropdown li:hover {
    background-color: #4c9e9e;
}

.services:hover .dropdown {
    display: block;
}
