.Header {

    background: #1abc9c;
    color: white;
    font-size: 30px;
    width: 1000;
    height: 3200px;

}

.Logo {
    width: 161px;
    height: 32px;
    left: 0px;
    top: 0px;

}

.Menu {
    width: 255px;
    height: 15px;
    justify-content: space-around;
    align-self: flex-end;
    gap: 41px;
    display: inline-flex;

}

.Menu .WhatWeDo {}