.col-1-3 {
    width: calc((100% / 3) - 2rem);
}

.col-1-2 {
    width: calc((100% / 2) - 2rem);
}

.col- {}

.section-services .row {
    margin: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-between;


    


}
.nav {
    display: flex;
}
.nav .nav-item{
    display: block;
}
.nav .nav-item+.nav-item{
    margin : 0;
}
.nav-item-margin{
    margin: 0px 0px 0px 2px;
}